body {
    background-color: #1b1b1b;
}

.card,
.jumbotron {
    background-color: #E4E4DE;
}

.card-header {
    background-color: #C4C5BA;
    text-align: center;
}

.card {
    margin: 0.5%;
    width: 100%;
}

.card-body {
    width: 100%;
    height: 100%;
}

.container {
    min-width: 90%;
}