body {
    background-color: #1b1b1b;
}

.card,
.jumbotron {
    background-color: #E4E4DE;
}

.card-header {
    background-color: #C4C5BA;
    text-align: center;
}

.card {
    margin: 5px;
    min-width: 400px;
}

.container {
    min-width: 100%;
}